volumes:
  simpledms_data:
  versitygw_data:

services:
  simpledms:
    image: "ghcr.io/simpledms/simpledms:stable"
    env_file: ".env"
    depends_on:
      versitygw:
        condition: service_started
      tika:
        condition: service_started
    restart: unless-stopped
    # if you run SimpleDMS locally, you probably want to use other ports
    ports:
      - 80:80 # for autocert
      - 443:443
    volumes:
      - simpledms_data:/srv

  tika:
    image: apache/tika:latest-full
    restart: unless-stopped

  # versity gateway is only necessary if you don't have S3 storage yet and want to store
  # the files in a Docker volume (this example) or on your file system
  versitygw:
    image: versity/versitygw:latest
    restart: unless-stopped
    volumes:
      - versitygw_data:/data
    environment:
      ROOT_ACCESS_KEY_ID: unsafe-placeholder-access-key-id
      ROOT_SECRET_ACCESS_KEY: unsafe-placeholder-secret-access-key
      VGW_BACKEND: posix
      VGW_BACKEND_ARG: /data
