volumes:
    mailpit_data:
    versitygw_data:
    #garage_meta:
    #garage_data:

services:
    #docling:
        #image: ghcr.io/docling-project/docling-serve-cpu
        #container_name: docling-serve
        #ports:
            #- 5001:5001
        #environment:
            #- DOCLING_SERVE_ENABLE_UI=true
    tika:
        image: apache/tika:latest-full
        #command: -c /tika-config.xml
        ports:
            - "9998:9998"
        #volumes:
            #- ./tika-config.xml:/tika-config.xml
        restart: unless-stopped

    # TODO not in production
    mailpit:
        image: axllent/mailpit
        restart: unless-stopped
        volumes:
            - mailpit_data:/var/lib/mailpit/data
        ports:
            - "8025:8025" # web-client
            - "1025:1025" # smtp
        environment:
            MP_MAX_MESSAGES: 500000
            MP_DATABASE: /var/lib/mailpit/data/mailpit.db
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1

    versitygw:
      image: versity/versitygw:latest
      restart: unless-stopped
      ports:
        - "3900:7070" # 3900 is default port of garage
      volumes:
        - versitygw_data:/data
      environment:
        ROOT_ACCESS_KEY_ID: unsafe-placeholder-access-key-id
        ROOT_SECRET_ACCESS_KEY: unsafe-placeholder-secret-access-key
        VGW_BACKEND: posix
        VGW_BACKEND_ARG: /data

    #garage:
      #image: dxflrs/garage:v2.1.0
      #restart: unless-stopped
      #volumes:
        #- ./garage.toml:/etc/garage.toml
        #- garage_meta:/var/lib/garage/meta
        #- garage_data:/var/lib/garage/data
      #ports: # TODO all necessary?
        #- "3900:3900"
        #- "3901:3901"
        #- "3902:3902"
        #- "3903:3903"
