{{- /* gotype: github.com/simpledms/simpledms/core/ui/widget.BottomSheet */ -}}
{{- define "BottomSheet" }}
	<div id="bottomSheet" style="display: inline-flex">
		{{ render .GetContext .Child }}
	</div>
{{ end }}
