{{- /* gotype: github.com/simpledms/simpledms/core/ui/widget.ButtonGroup */ -}}
{{- define "ButtonGroup" }}
	<nav class="no-space flex center-align">
		{{ render .GetContext .Children }}
	</nav>
{{ end }}
