{{- /* gotype: github.com/simpledms/simpledms/core/ui/widget.Heading */ -}}
{{- define "Heading" }}
	{{/* TODO should not always be h3 */}}
	<h3 class="{{ .Type }} text-on-surface">{{ render .GetContext .Text }}</h3>
{{ end }}
