{{- /* gotype: github.com/simpledms/simpledms/core/ui/widget.TextArea */ -}}
{{- define "TextArea" }}
	<textarea
		id="{{ .GetID }}"
		name="{{ .Name }}"
		rows="{{ .GetRows }}"
		class="{{ .GetClass }}"
		{{ if .IsReadonly }}readonly{{ end }}
		{{ if .HasAutofocus }}autofocus{{ end }}
	>{{ .Value }}</textarea>
{{ end }}
