{{- define "Chip" }}
	<span id="{{ .GetID }}" class=""
		  	name="{{ .GetName }}"
		  	role="{{ .GetRole }}"
			{{ template "HTMXAttrs" .HTMXAttrs }}
			aria-checked="true"
	>
		{{ render .GetContext .Leading }}
		{{ render .GetContext .Label }}
        {{ render .GetContext .Trailing }}
	</span>
{{ end }}