{{- define "DataAttributes" }}
	<div
		id="{{ .GetID }}"
		{{ if .Hidden }}hidden{{ end }}
		{{ if .Class }}class="{{ .Class }}"{{ end }}
		{{- range $key, $value := .Values }}
			data-{{ $key }}="{{ render $.GetContext $value }}"
		{{- end }}
	></div>
{{ end }}
