{{- define "Scaffold" }}
	<div id="full_layout" style="height: 100%">
        {{ render .GetContext .AppBar }}
		{{ render .GetContext .Drawer }}
		<main class="">
			{{ render .GetContext .Body }}
		</main>
	</div>
{{ end }}