{{- /* spacing sometimes for text values matters, thus aggressive removal of spacing */ -}}
{{- define "Text" -}}
	{{- if .Wrap -}}
		<span id="{{ .GetID }}" class="{{ if .IsBold }}font-bold{{ end }}">{{ .GetString }}</span>
    {{- else if .IsParagraph -}}
		<p id="{{ .GetID }}" class="{{ if .IsBold }}font-bold{{ end }}">{{ .GetString }}</p>
	{{- else -}}
		{{ .GetString }}
	{{- end -}}
{{- end -}}