{{- define "TextArea" }}
	<textarea
		id="{{ .GetID }}"
		name="{{ .Name }}"
		rows="{{ .GetRows }}"
		class="{{ if .Class }}{{ .Class }}{{ else }}w-full min-h-[12rem] rounded-md border border-outline-variant bg-surface-container-low px-4 py-3 title-small font-mono{{ end }}"
		{{ if .IsReadonly }}readonly{{ end }}
		{{ if .HasAutofocus }}autofocus{{ end }}
	>{{ .Value }}</textarea>
{{ end }}
